<section class="background">
    <section class="cards">
        <article class="DescriptionCard firstCard">
            <h2 class="subtitle">titulo por defecto</h2>
            <p class="textCard">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste doloremque consectetur aut aspernatur facere beatae laboriosam fugiat eligendi error? Error ea sequi voluptas fuga doloremque et dicta molestias totam dolore?</p>
        </article>
        <article class="DescriptionCard secondCard">
            <h2 class="subtitle">Titulo por defecto</h2>
            <p class="textCard">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim voluptas odit qui amet, nisi a perspiciatis voluptatibus doloribus illum similique dolore, nihil molestias dicta magnam expedita iste. Id, ut?</p>
        </article>
    </section>
    <section class="productsSection">
            <article class="oneProduct">
                Producto 1
            </article>
            <article class="oneProduct">
                Producto 2
            </article>
            <article  class="oneProduct">
                Producto 3
            </article>


            <article class="oneProduct">
                Imagen 1
            </article>
            <article class="oneProduct">
                Imagen 2
            </article>
            <article class="oneProduct">
                Imagen 3
            </article>
    </section>
</section>
