<header class="bg-[#fde79e]" >
    <div class="w-full flex mx-auto h-12 text-[1rem] font-medium">
        <!-- Primera seccion  -->
        <section class="flex-1">
            <ul class="flex ">
                <li class="ml-36 mt-2 ">Sobre Blanca</li>
                <li class="ml-10 mt-2">Nosotros</li>
            </ul>
        </section>
        
        <!-- Segunda sección -->
        <section class="flex-1" >
            <ul class="flex">
                <li class="pr-6 mx-auto mt-2">Servicios</li>
                <li class="pr-6 mx-auto mt-2">Características</li>
                <li class="mx-auto mt-2">Productos</li>
            </ul>
        </section>
        
        <!-- Tercera sección -->
        <section class="flex-1">
            <ul class="flex ml-56">
                <li class="mt-2">Recursos</li>
            </ul>
        </section>
    </div>
</header>
