<section class=" bg-gradient-to-b from-white to-gray-100 pt-32 md:pt-44 pb-20">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid lg:grid-cols-2 gap-12 items-center">
      <!-- Sección de Texto -->
      <div class="fade-in-left">
        <h1 class="text-3xl sm:text-4xl lg:text-5xl font-bold mb-6 leading-tight text-gray-900">
          Descubre Productos de Calidad <br />
          <span class="text-gray-500">Diseñados para Ti</span>
        </h1>
        <p class="text-gray-600 mb-8 text-base sm:text-lg lg:text-xl leading-relaxed">
          Explora una selección exclusiva que combina estilo, funcionalidad y durabilidad. 
          Bienvenidos a <strong class="text-gray-800">Blanca y sus Rosas</strong>.
        </p>
        <button
          class="bg-gray-900 text-white px-6 py-3 rounded-full text-sm font-medium hover:bg-gray-700 transition-colors shadow-lg hover:shadow-xl">
          Comprar ahora
        </button>
      </div>

      <!-- Sección de Tarjetas de Producto -->
      <div class="grid sm:grid-cols-2 gap-6 md:mt-5">
        <app-product-card
          [imageSrc]="'products/001.png'"
          [badgeText]="'Nuevo'"
          [productName]="'Set de Cubiertos de Madera'"
          [oldPrice]="'$49.99'"
          [newPrice]="'$39.99'">
        </app-product-card>

        <app-product-card
          [imageSrc]="'products/002.png'"
          [badgeText]="'Popular'"
          [productName]="'Smartphone con Stylus'"
          [oldPrice]="'$699.99'"
          [newPrice]="'$599.99'">
        </app-product-card>
      </div>
    </div>
  </div>
</section>
