.menu-responsive {
  position: fixed;
  top: 0;
  right: -100%; /* Oculto fuera de la pantalla por defecto */
  width: 70%;
  max-width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 1000;

  nav {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 1rem 0;

        a {
          text-decoration: none;
          color: #333;
          font-weight: bold;
          transition: color 0.3s;

          &:hover {
            color: #007bff; /* Cambia el color al pasar el mouse */
          }
        }
      }
    }
  }

  &.active {
    right: 0; /* Se desplaza hacia dentro de la pantalla */
  }
}
